## 1 Repetitivas I FOR

### 1.1.- Bucle en Lista - Loop list

In [ ]:
elementList = [1,2,3,4,5]

for item in elementList:
    print("Este es un elemento de la lista",item)

Este es un elemento de la lista 1
Este es un elemento de la lista 2
Este es un elemento de la lista 3
Este es un elemento de la lista 4
Este es un elemento de la lista 5

### 1.2.- Bucle con rango - Loop with range

range(1,10,3) comienza en 1 hasta antes del 10 e ira aumentado de 3 en 3.

In [ ]:
for element in range(10):
    print(element)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for item in range(5,10):
    print(item)

5
6
7
8
9

In [ ]:
for element in range(1,100,10):  # (inicio, hasta antes de , de cuanto en cuanto se aumenta)
    print(element)

1
11
21
31
41
51
61
71
81
91

### 1.3.- Bucle lineal - Loop linear

En este caso la lista oldElementList es multiplicada cada valor por 2 y se crea el resultado en la nueva lista elementList.

In [ ]:
oldElementList = [1,2,3,4,5]
elementList = [item*2 for item in oldElementList]
for element in elementList:
    print(element)

2
4
6
8
10

### 1.4.- Bucle con break - Loop with break

In [ ]:
for element in range(1,100,2):
    print(element)

    if element == 21:
      break

1
3
5
7
9
11
13
15
17
19
21

### 1.5.- Loop with continue

In [ ]:
for element in range(1,10,1):        
    if element == 5:
      continue
    print(element + 1)
      
# print(element)

2
3
4
5
7
8
9
10

## 2 Repetitivas II While

\### 2.1.- Bucle infinito con condicional True - Infinite loop with always true condition

In [ ]:
iterator = 0
while True:
    if iterator == 10:
        break
    print(iterator)
    iterator = iterator + 1

0
1
2
3
4
5
6
7
8
9

### 2.2.- Bucle infinito con condicional - Infinite loop with condition

In [ ]:
iterator = 0
while iterator != 10:  # 10 != 10 Falso
    print(iterator)
    iterator = iterator + 1

0
1
2
3
4
5
6
7
8
9

Utilizando Range  imprimir tu nombre 5 veces.
Utilizando While  imprimir tu nombre 5 veces.

In [ ]:
nombre = input("Ingresar nombre: ")
for _ in range(5):
  print(nombre)

Ingresar nombre: Jorge
Jorge
Jorge
Jorge
Jorge
Jorge

In [ ]:
nombre = input("Ingresar nombre: ")
item = 0 
while item < 15:   # 0 < 5 True
  print(nombre)
  item = item + 1

Ingresar nombre: Jorge
Jorge
Jorge
Jorge
Jorge
Jorge

1. Imprima 7 veces el texto “Club de ciencia Perú”.
2. Imprima esta secuencia de numeros: 0,-1,-2,-3,-4,-5,-6,-7, -8
3. Imprima esta secuencia de números:  90, 85, 80, 75, 70 ....25
4. Realice un programa que sume los números pares desde el 2 al 100.

In [ ]:
suma = 0
for item in range(2,101):
  if item % 2 == 0:
    suma = suma + item

print("Sumatoria de numeros pares",suma)

Sumatoria de numeros pares 2550

In [ ]:
for _ in range(7):
  print("Club de ciencia Peru")

Club de ciencia Peru
Club de ciencia Peru
Club de ciencia Peru
Club de ciencia Peru
Club de ciencia Peru
Club de ciencia Peru
Club de ciencia Peru

In [ ]:
for item in range(0,-9,-1):
  print(item)

0
-1
-2
-3
-4
-5
-6
-7
-8

In [ ]:
for item in range(90,20,-5):
  print(item)

90
85
80
75
70
65
60
55
50
45
40
35
30
25

## 3 String

### 3.1 Definición

In [ ]:
mensaje1 = 'Esto es un string'
print(mensaje1)

Esto es un string

In [ ]:
mensaje3 = "Esto es un string"
print(mensaje3)

Esto es un string

In [ ]:
mensaje2 ="""Mi nombre es Jorge
Linea 2
Linea 3"""
print(mensaje2)

Mi nombre es Jorge
Linea 2
Linea 3

#### Casting

In [ ]:
pi = 3.14
texto = "El valor de pi es " + str(pi)
print(texto)

El valor de pi es 3.14

#### Indice

In [ ]:
palabra = "Monty Python"
print(palabra[4])
print(palabra[:6]). #[:hasta antes de] si esta vacio el inicio , significa que va desde la posicion 0
print(palabra[6:10]). # [inicio, hasta antes de]
print(palabra[10:])
print("Resultado")
print(palabra[:6] + palabra[6:10] + palabra[10:])

y
Monty
Pyth
on
Resultado
Monty Python

### 3.2 Funciones

#### Len()

In [ ]:
palabra = "aeiou1"
print(len(palabra))

6

#### Find()

In [ ]:
texto = "Hola mundo, como estas enano"
print(texto.find("e"))
print(texto.find("como"))

17
12

#### Replace()

In [ ]:
palabras = "Variables globales y variables locales"
palabras = palabras.replace("locales","Local")
print(palabras)

Variables globales y variables Local

#### Capitalize()

In [ ]:
cadena = "hoy dia se estrena doctor Strange"
print(cadena[0].capitalize())

H

#### Lower()

In [ ]:
cadena = "Hoy dia se eStrena doctor StrAnge"
print(cadena.lower())

hoy dia se estrena doctor strange

#### Upper()

In [ ]:
cadena = "Hoy dia se eStrena doctor StrAnge"
print(cadena.upper())

HOY DIA SE ESTRENA DOCTOR STRANGE

#### Strip()

In [ ]:
cadena = "  Hoy dia se eStrena doctor StrAnge   "
print(cadena.strip())

Hoy dia se eStrena doctor StrAnge

#### Join()

In [ ]:
palabra = "Hola"
print("-".join(palabra))

H-o-l-a

## 4 Lista

### 4.1 Definición

In [ ]:
lista1 = []  #len = 0
lista2 = [None] #len = 1

enteros = [0,1,2,3,4,5,6,7,8,9]
dias = ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"]
variados = [1,"Martes",3,"Jueves",5,"Sabado",7,7.12,True]

print(enteros)
print(dias)
print(variados)
print(type(enteros))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
[1, 'Martes', 3, 'Jueves', 5, 'Sabado', 7, 7.12, True]
<class 'list'>

#### Indices de Lista

In [ ]:
#positivos
dias = ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"]
print("Valor que se encuentra en el indice 1: ", dias[6])

Valor que se encuentra en el indice 1:  Domingo

In [ ]:
#negativos
dias = ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"]
print("Valor que se encuentra en el indice ultimo 6: ",dias[-1])
print("Valor que se encuentra en el indice ultimo 6: ",dias[-5])
print("Valor que se encuentra enel indice 4 :",dias[-3])

Valor que se encuentra en el indice ultimo 6:  Domingo
Valor que se encuentra en el indice ultimo 6:  Miercoles
Valor que se encuentra enel indice 4 : Viernes

In [ ]:
#Asignación multiple
lista = ["Juan","Luis", "Almendra","Jorlan","Maria","Luisa"]
nom1, nom2, nom3, nom4, nom5, nom6  = lista
print(nom1)
print(nom2)
print(nom3)
print(nom4)
print(nom5)
print(nom6)

Juan
Luis
Almendra
Jorlan
Maria
Luisa

#### Iteración de Lista

In [ ]:

lista = ["Juan","Luis", "Almendra","Jorlan","Maria","Luisa"]

#Iteración por un elemento
i = 1
for item in lista:
    print("Iteracion",i,item)
    i=i+1

Iteracion 1 Juan
Iteracion 2 Luis
Iteracion 3 Almendra
Iteracion 4 Jorlan
Iteracion 5 Maria
Iteracion 6 Luisa

In [ ]:
#Iteración basada en el índice
for indice in range(len(lista)):
    print("indice",indice,lista[indice])

indice 0 Juan
indice 1 Luis
indice 2 Almendra
indice 3 Jorlan
indice 4 Maria
indice 5 Luisa

In [ ]:
#enumerate cuando queremos usar el indice y elemento a la vez.
for indice, elemento in enumerate(lista):
    print("Indice [{}]: {}".format(indice,elemento))

Indice [0]: Juan
Indice [1]: Luis
Indice [2]: Almendra
Indice [3]: Jorlan
Indice [4]: Maria
Indice [5]: Luisa

### 4.2 Operaciones

Sumatoria

In [ ]:
listOperation = [1,2,3,4,5]+ [10,5]
print(listOperation)
print(type(listOperation))

[1, 2, 3, 4, 5, 10, 5]
<class 'list'>

Mutiplicación

In [ ]:
listOperation = [1,2,3,4,5] * 2
print(listOperation)
print(type(listOperation))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
<class 'list'>

### 4.3 Funciones

#### Append()

In [ ]:
listFunction = [1,2]
print("lista inicial",listFunction)
listFunction.append(3)
print("lista final",listFunction)
print(type(listFunction))

lista inicial [1, 2]
lista final [1, 2, 3]
<class 'list'>

In [ ]:
listFunction = [1,2]
print("lista inicial",listFunction)
listFunction.append([3,4])
print("lista final",listFunction)
print(type(listFunction))

lista inicial [1, 2]
lista final [1, 2, [3, 4]]
<class 'list'>

#### Insert()

In [ ]:
listFunction = [1,2]
listFunction.insert(1,3)
print(listFunction)
print(type(listFunction))

[1, 3, 2]
<class 'list'>

#### Pop()

In [ ]:
lista_letras = [ 'a','b','c','d','e','f','g','h','i','j','k','l']
print("Lista inicial",lista_letras)

itemEliminado = lista_letras.pop() # eliminado l - [ 'a','b','c','d','e','f','g','h','i','j','k']
print("Elemento eliminado por pop:",itemEliminado)


itemEliminado2 = lista_letras.pop() # eliminado k - [ 'a','b','c','d','e','f','g','h','i','j']
print("Elemento eliminado por pop:",itemEliminado2)

print("Lista final",lista_letras)

Lista inicial ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']
Elemento eliminado por pop: l
Elemento eliminado por pop: k
Lista final ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### Slicing

In [ ]:
listFunction = [1,2,3,4]
print(listFunction)
print(listFunction[0])   #Select an specific number based on its index range
print(listFunction[1:2]) #Select an specific range of numbers based on its index range
print(listFunction[1:])  #Select an specific range of numbers based on its index start
print(listFunction[:2])  #Select an specific range of numbers based on its index end
print(listFunction[-2:]) #Select an specific range of numbers based on its index reverse start 
print(type(listFunction))

[1, 2, 3, 4]
1
[2]
[2, 3, 4]
[1, 2]
[3, 4]
<class 'list'>

#### IN

In [ ]:
lista = ["Juan","Luis", "Almendra","Jorlan","Maria","Luisa"]
print( "Juan" in lista)
print( "Pedro" in lista)

True
False

#### NOT IT

In [ ]:
lista = ["Juan","Luis", "Almendra","Jorlan","Maria","Luisa"]
print( "Juan" not in lista)
print( "Pedro" not in lista)

False
True