##1. Tipo de datos
- Cadenas/texto - **str**
- Decimales - **float**
- Enteros - **int**
- Booleanos - **bool**

###String

In [1]:
#String
texto = "Hello, World!"
pi = "3.14"
print(texto)
print(pi)

Hello, World!
3.14

###Integer

In [ ]:
#Integer
entero = 25
print(entero)

25

###Float

In [ ]:
#Float
pi = 3.14
print(pi)

3.14

In [ ]:
import sys
print(sys.int_info)
print() # to add a space between two outputs, use 'print()' functon 
print(sys.float_info)

sys.int_info(bits_per_digit=30, sizeof_digit=4)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

###Boolean

In [ ]:
# Boolean 
bandera = True
print(bandera)
print(True)  # verdadero
print(False) # falso
print(bool(1)) 
print(bool(0))

True
True
False
True
False

###Clases de datos utilizando TYPE

In [ ]:
texto = "Hello, World!"
pi = "3.14"
pi = 3.14
print(type(pi))

<class 'float'>

In [ ]:
# String
print(type('Hello, World!'))
# Integer
print(type(15))
print(type(-24))
print(type(0))
print(type(1))
# Float
print(type(3.14))
print(type(0.5))
print(type(1.0))
print(type(-5.0)) 
# Boolean
print(type(True)) 
print(type(False))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>

##2. Casting

In [ ]:
numero1 = input("Ingresar numero 1: ")
numero2 = input("Ingresar numero 2: ")
numero3 = numero1 + numero2
print(numero3)
print(type(numero3))

Ingresar numero 1: 20
Ingresar numero 2: 0
200
<class 'str'>

In [ ]:
numero1 = int(input("Ingresar numero 1: "))
numero2 = int(input("Ingresar numero 2: "))
numero3 = numero1 + numero2
print(numero3)
print(type(numero3))

Ingresar numero 1: 20
Ingresar numero 2: 40
60
<class 'int'>

In [ ]:
numericCast = str(True)
print(numericCast)
print(type(numericCast))

True
<class 'str'>

In [ ]:
numericCast = int("2")
print(numericCast)
print(type(numericCast))

2
<class 'int'>

In [ ]:
numericCast = float(2)
print(numericCast)
print(type(numericCast))

2.0
<class 'float'>

In [ ]:
numericCast = int(2.9)
print(numericCast)
print(type(numericCast))

2
<class 'int'>

In [ ]:
numericCast = str(2.4)
print(numericCast)
print(type(numericCast))

2.4
<class 'str'>

In [ ]:
numeroTexto = "2"
numero = float(numeroTexto)
print(numero)

2.0

# 3. Operadores

### 3.1 Asignación

| Operador | Nombre| Ejemplo |
|---|---|---|
| = | Asignacion | x = y |

In [ ]:
z = 40
z = z + 10
print(z)

50

In [ ]:
variable = 1
print(variable)
print(type(variable))

variable = True
print(variable)
print(type(variable))

variable = [1,"Text",None, False]
print(variable)
print(type(variable))

1
<class 'int'>
True
<class 'bool'>
[1, 'Text', None, False]
<class 'list'>

In [ ]:
variable1, variable2, variable3 = 1, "Text", None

print(variable1)
print(type(variable1))

print(variable2)
print(type(variable2))

print(variable3)
print(type(variable3))

1
<class 'int'>
Text
<class 'str'>
None
<class 'NoneType'>

In [ ]:
# variable1 = 1
# variable2 = 1
# variable3 = 1

variable1=variable2=variable3= 1

print(variable1)
print(type(variable1))

print(variable2)
print(type(variable2))

print(variable3)
print(type(variable3))

1
<class 'int'>
1
<class 'int'>
1
<class 'int'>

### 3.2 Aritméticos

| Operador | Nombre| Ejemplo |
|---|---|---|
| + | Adición | x + y |
| - | Substracción | x - y |
| * | Multiplicación | x * y |
| / | División | x / y |
| % | Modulo | x % y |
| ** | Exponencial | x ** y |
| // | División piso | x // y |

In [ ]:
x = 26
y = 5
z = 2
print("Valor de x = ",x)
print("Valor de y = ",y)
print("x+y = ",x+y)
print("x-y =",x-y)
print("x*y =",x*y)
print("x/y =",x/y)
print("x%y =",x%y)
print("x**z =",x**z)
print("x//y =",x//y)

Valor de x =  26
Valor de y =  5
x+y =  31
x-y = 21
x*y = 130
x/y = 5.2
x%y = 1
x**z = 676
x//y = 5

####Concatenar String

In [ ]:
stringOperation = "Jorge " + "Villavicencio"
print(stringOperation)
print(type(stringOperation))

Jorge Villavicencio
<class 'str'>

####Multiplicar String

In [ ]:
stringOperation = "No debo ensuciar las paredes " * 10
print(stringOperation)
print(type(stringOperation))

No debo ensuciar las paredes No debo ensuciar las paredes No debo ensuciar las paredes No debo ensuciar las paredes No debo ensuciar las paredes No debo ensuciar las paredes No debo ensuciar las paredes No debo ensuciar las paredes No debo ensuciar las paredes No debo ensuciar las paredes
<class 'str'>

### 3.3 Relación

| Operador | Nombre| Ejemplo |
|---|---|---|
| == | Igualdad | x == y |
| != | Diferencia | x != y |
| < | Mayor | x < y |
| > | Menor | x > y |
| <= | Mayor igual | x <= y |
| >= | Menor igual | x >= y |

In [ ]:
x = 35
y = 30

print("x == y", x == y)
print("x != y", x != y)
print("x < y", x < y)
print("x >y", x > y)
print("x <= y", x <= y)
print("x=>z", x >= y)

x == y False
x != y True
x < y False
x >y True
x <= y False
x=>z True

In [ ]:
x = "Juan"
y = "Juan"

print("x == y", x == y)
print("x != y",x != y)
print("x < y",x < y)
print("x >y",x > y)
print("x <= y",x <= y)
print("x=>z",x >= y)

x == y False
x != y True
x < y True
x >y False
x <= y True
x=>z False

In [ ]:
operation = "2" > "1"
print(operation)
print(type(operation))

True
<class 'bool'>

In [ ]:
operation = "c" > "z"
print(operation)
print(type(operation))

False
<class 'bool'>

Ejemplo 01: Variables + Tipos de datos + Operadores

In [ ]:
peso = float(input("Ingrese el peso en grs: "))
altura = float(input("Ingrese la altura en cms: "))

pesoKg = peso/1000
alturaMt = altura/100

bmi = pesoKg/(alturaMt**2)
print("El índice de masa corporal (BMI) es igual a:", round(bmi,3))
print("El índice de masa corporal (BMI) es igual a:", bmi)

Ingrese el peso en grs: 8200
Ingrese la altura en cms: 170
El índice de masa corporal (BMI) es igual a: 2.837
El índice de masa corporal (BMI) es igual a: 2.837370242214533

# 4. Estructuras de control

## 4.1 Condicionales

### 4.1.1.- Condicional simple - Simple Conditional

In [ ]:
numero = int(input("Ingresar numero: "))
if numero == 1:
  print("El valor es igual a ",numero)

print("Estoy fuera del IF")

Ingresar numero: 1
El valor es igual a  1

### 4.1.2.- Condicional compleja - Complex Conditional

In [ ]:
numero = int(input("Ingresar numero: "))
if numero == 1:
    print("El valor es igual a ",numero)
else:
    print("El valor NO es igual a ",numero)

Ingresar numero: 1
El valor es igual a  1

### 4.1.3.- Condicional anidada - Nested Conditional

In [ ]:
value = int(input("Ingresar edad: "))
if value < 15:   # value puede ser de ... 0 ,1 , 2  ... 15
    print("Es un Niño")
elif value < 35:  # value puede ser de 15, 16 , 17 ,18 , 19 ...   33, 34
    print("Es un Adulto")
else:
    print("Es Mayor") # value puede ser de 35 , 36 , 37 , 38 ... 50 ...

Ingresar edad: -30
Es un Niño

In [ ]:
numeroMes = int(input("Ingrese numero de mes"))

if numeroMes == 1:
  print("Enero")
elif numeroMes == 2:
  print("Febrero")
elif numeroMes == 3:
  print("Marzo")  
elif numeroMes == 4:
  print("Abril")
elif numeroMes == 5:
  print("Mayo")    
else:
  print("Mes no contemplado, rango de meses de 1 a 12")

Ingrese numero de mes2
Febrero

### 4.1.4.- Condicional plana - Plain Conditional

Es similar a la condicional compleja, en el lado izquierda es verdadero y en el lado izquiero si es falso.

In [ ]:
value = 2
print("El valor es igual a 1" if value == 1 else "El valor NO es igual a 1")

El valor NO es igual a 1

In [ ]:
litro = int(input("Numero de botellas de hasta 1 litro: "))
litroMas = int(input("Numero de botellas de mas de 1 litro: "))

dineroTotalLitro = 0
dineroTotalMas = 0

if litro > 0:
  dineroTotalLitro = litro*1.25

if litroMas > 0:
  dineroTotalMas = litroMas*3.75

total = dineroTotalLitro + dineroTotalMas
print("El monto a favor es",total)

Numero de botellas de hasta 1 litro: 14
Numero de botellas de mas de 1 litro: 7
El monto a favor es 43.75

Solicitar al usuario que ingrese su nombre y nota de un examen. El programa debe indicar si el alumno aprobo o no el examen, la nota para aprobar tiene que ser mayor o igual a 10.5. Si el alumno aprobo se debe mostrar el mensaje "APROBADO" sino debe mosytrarse el mensaje "DESAPROBADO"
 En caso el alumno no haya dado el examen, debe ingresar la palabra "NO" y si ingresa la palabra NO, el programa debe mostrar "No existe recuperacion"

In [ ]:
nombre = input("Ingresar nombre: ")
nota = float(input("Ingresar nota: "))

if nota < 10.5:
  print("DESAPROBADO")
  print("Indentacion")
  print("Hola")
elif nota == -1:
  print("No existe recuperacion")
else:
  print("APROBADO")

Ingresar nombre: Jorge
Ingresar nota: -1
DESAPROBADO

Conjuncion

In [ ]:
nota = float(input("Ingresar nota: "))
if nota >= 10.5 and nota<=20 :
  print("APROBADO")

Ingresar nota: 10

Disyuncion

In [ ]:
nota = float(input("Ingresar nota: "))
if nota == -1 or nota == -2:   # Falso or Verdadero = Verdadero.
  print("No existe recuperacion")

Ingresar nota: -2
No existe recuperacion

#Variable

In [ ]:
edad = 25
print(edad)

25

In [ ]:
edad = edad + 10
print(edad)

35

In [ ]:
edad = 25
print(edad)

25

In [ ]:
edad = "Edad 25"
print(edad)

Edad 25

In [ ]:
edadAdulto = "Edad adulto sin espacio"
edad_Adulto = "Edad adulto"
print(edadAdulto)
print(edad_Adulto)

Edad adulto sin espacio
Edad adulto